<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            {{#if success_msg}}
            <div class="alert alert-success"><br>{{success_msg}}</div>
            {{/if}} {{#if error_msg}}
            <div class="alert alert-danger"><br>{{error_msg}}</div>
            {{/if}}
            <h1 class="page-header">Change Password</h1>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Change Password</h4>
                </div>
                <div class="panel-body">
                    <div class="col-md-8">
                        <form role="form" action="/user/change_password" method="post">
                            <div class='alert alert-info'>
                                <div class='form-group'>
                                    <label>1. Your current password *</label>
                                    <input type="password" name="old_password" class="form-control" required>
                                    <p class="help-block">Please enter your current password.</p>
                                </div>
                            </div>

                            <div class="alert alert-info">
                                <div class="form-group">
                                    <label>2. Your new password *</label>
                                    <input type="password" name="new_password_1" class="form-control" required>
                                    <p class="help-block">Strong passwords = Happy computers.</p>
                                </div>
                            </div>

                            <div class="alert alert-info">
                                <div class="form-group">
                                    <label>3. Confirm your new password *</label>
                                    <input type="password" name="new_password_2" class="form-control" required>
                                    <p class="help-block">Re-enter your new password</p>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Change password </button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>