<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <br>
            <br> {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
            {{/if}} {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}} {{#if errors}} {{#each errors}}
            <div class="alert alert-danger">{{msg}}</div>
            {{/each}} {{/if}}
            <div class="login-panel panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Reset password</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="/forget_password" method="post">
                        <fieldset>
                            <div class="form-group">
                                <p>Email address:</p>
                                <input class="form-control" placeholder="E-mail" name="user_email" type="email" autofocus autocomplete="off">
                            </div>
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Reset password">
                            <br/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>